.container {
    position: relative;
    width: auto;
    min-height: 600px;
    margin: 0 auto;
    padding: 40px 20px;
    background-color: #fcfbff;
    color: rgb(0, 0, 0);
    font-size: 35px;
    font-weight: 300;
    font-family: Arial, Helvetica, sans-serif;
}

.caixa {
    background-color: white;
    position: relative;
    height: 250px;
    width: 250px;
    border-radius: 10px;
    overflow: hidden;
    margin: 10px;
}


.caixa img{
    height: 100%;
    width: 100%;
    border-radius: 10px;
    transition: .5s linear;
}
.caixa img:hover{
    transform: scale(1.05);
}


.caixa h4{
    position: absolute;
    bottom: -15px;
    left: 15px;
    font-size: 18px;
    transition: .5s;
    color: black;
    visibility: hidden;
    opacity: 0;
    
}

.caixa:hover h4{
    visibility: visible;
    opacity: 1;
    
}


.caixas {
    width: 100%;
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
}

.html{
    scroll-behavior: smooth;
}

.titulo{
    padding: 50px;
    
}